.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ade8f4;
  border: 1px solid #ade8f4;
  color: black;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #e9ff70;
  border-color: #e9ff70;
}

@media (max-width: 470px) {
  .form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .form button {
    margin-left: 3.2rem;
  }
}
