/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Quicksand, sans-serif;
}

body {
  margin: 0;
  background-color: #efe1ff;
}
